.image-area {
    height: 200px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.image-wrapper {
    height: 100%;
    width: fit-content;
    margin: auto;
}

img {
    height: 100%;
    width: auto;
    border: 2px solid #939292;
    border-radius: 50%;
    background-color: #d7e9c5;
}

.main-content-area {
    width: 100%;
}

.drop-down-area {
    display: block;
    align-items: center;
    margin-bottom: 40px;
}

@media (min-width: 769px) {
    .drop-down-area {
        display: flex;
    }
}


.drop-down-grid {
    width: 100%;
    margin-bottom: 30px;
}

@media (min-width: 769px) {
    .drop-down-grid {
        width: 25%;
    }
}

.drop-down-wrapper {
    width: fit-content;
    margin: auto;
    margin-bottom: 24px;
}

.drop-down-wrapper .title{
    font-size: 24px;
    margin-bottom: 16px;
}

@media (min-width: 769px) {
    .drop-down-grid {
        margin-bottom: 32px;
    }
}

.radio-button-wrapper {
    width: 82%;
    margin: auto;
    display: grid;
    font-size: 18px;
    min-height: 181px;
}

.radio-button-wrapper .title{
    font-size: 18px;
    margin-bottom: 16px;
}

@media (min-width: 769px) {
    .radio-button-wrapper {
        width: 90%;
    }
}

.total-time-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.total-time-text {
    font-size: 32px;
}

.button-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.result-messages-wrapper {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.try-again-btn-wrapper {
    text-align: center;
    margin-bottom: 30px;
}