.header{
    height: 65px;
    width: 100%;
    background: #688b59;
    display: flex;
    align-items: center;
}

@media (min-width: 769px) {
    .header{
        height: 100px;
    }
}

.header-title{
    margin: auto;
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.footer{
    height: 50px;
    width: 100%;
    background: #688b59;
    display: flex;
    align-items: center;
}

.footer-title{
    margin: auto;
    font-size: 16px;
    color: white;
}